---
import Layout from '../layouts/base.astro'
import PostPreview from '../components/PostPreview.astro'
import Section from '../components/Section.astro'
import site from '../data/site.json'
import { readMinutes } from '../utils/readMinutes'
import { uniq } from '../utils/uniq'

export async function createCollection() {
    function includeReadingTime(post) {
        return {
            ...post,
            minutes: readMinutes(post)
        }
    }

    function title(tag) {
        return `Posts tagged "${tag}"`
    }

    function description(tag) {
        return `All posts from the Navillus Blog tagged with “${tag}”`
    }

    const allPosts = Astro.fetchContent('./blog/*.md')
    const allTags = uniq(
        allPosts
            .map(({ tags }) => tags)
            .flat()
    )

    return {
        // Set "paginate" to true to enable pagination.
        paginate: true,

        // `route` defines the URL structure for your collection.
        route: '/tags/:tag/:page?',

        // `paths` tells Astro which pages to generate in your collection.
        paths() {
            return allTags.map(tag => ({ params: { tag } }))
        },

        // `props` returns the data needed on each page.
        props({ params, paginate }) {
            const { tag } = params

            const posts = allPosts.filter(p => p.tags.indexOf(tag) >= 0)

            return {
                tag,
                title: title(tag),
                description: description(tag),
                posts: paginate(posts, { pageSize: 25 })
            }
        }
    }
}

const { tag, title, description, posts } = Astro.props
---

<Layout title={title} description={description} pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL.href}>
    <section>
        <div class="container hero">
            <h1 class="h6"><strong>JAMSTACK DEVELOPERS FOR HIRE</strong></h1>
            <h2 class="h1">The Navillus Blog</h2>
            <p>Exploring the Jamstack and the future of web development.</p>
        </div>
    </section>

    <Section alt title={title}>
        {posts.data.map((post) => (
            <PostPreview post={post} />
        ))}
    </Section>
</Layout>