---
import Icon from './Icon.astro'
import navigation from '../data/navigation.json'
import { normalizeNavigationLink } from '../utils/cms.ts'

const normalizeLink = normalizeNavigationLink(
  Astro.fetchContent('../data/pages/**/*.md')
)

const contact = (navigation as CMS.Navigation).contact
const legal: CMS.NavigationLink[] = (navigation as CMS.Navigation).legal.map(
  normalizeLink
)

const year = new Date().getFullYear()
---

<footer>
  <div class="container">
    <ul class="social">
      {contact.map(({ url, title, icon }) => (
        <li>
          <a href={url} rel="me">
            <span class="sr-only">{title}</span>
            <Icon id={icon} />
          </a>
        </li>
      ))}
    </ul>

    <ul class="links">
      {legal.map(({ title, page }) => (
        <li>
          <a class="h6" href={page}>
            {title}
          </a>
        </li>
      ))}
    </ul>

    <div class="legal">
      <div>© {year} Navillus B.V.</div>

      <small>
        Icons made by
        <a href="https://www.freepik.com" class="underline" title="Freepik"
          >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" class="underline" title="Flaticon">
          www.flaticon.com
        </a>
      </small>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    background: var(--chisel-neutral-50);
  }

  a {
    color: var(--chisel-neutral-900);
  }

  .container {
    padding-top: var(--spacer-lg);
    padding-bottom: var(--spacer-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-md);
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-sm);

    & :global(svg) {
      height: var(--chisel-h1);
      width: var(--chisel-h1);
      overflow: visible;
    }
  }

  .links {
    display: flex;
    flex-direction: row;

    & a {
      text-decoration: underline;
      padding: 0 var(--spacer-xs);

      @media (min-width: 480px) {
        & {
          padding: 0 var(--spacer-sm);
          font-size: var(--chisel-p);
        }
      }
    }

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:not(:last-of-type) {
        border-right: 1px solid currentColor;
      }
    }
  }

  .legal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
