---
import type { Hero } from "../content/config";
import Show from "./Show.astro";
import Markdown from "./Markdown.astro";

type Props = Hero;

const { title, subtitle, content, cta } = Astro.props;
---

<section>
  <div class="container hero">
    <Show when={!!title}>
      <h1 class="h6">
        <Markdown md={title} />
      </h1>
    </Show>
    <Show when={!!subtitle}>
      <h2 class="h1">
        <Markdown md={subtitle} />
      </h2>
    </Show>
    <Show when={!!content}>
      <p>
        <Markdown md={content} />
      </p>
    </Show>
    <Show when={!!cta?.href}>
      <a class="button" href={cta?.href}>{cta?.text}</a>
    </Show>
  </div>
</section>

<style>
  h2 :global(p) {
    margin-bottom: 0;
  }

  .button {
    margin-top: var(--spacer-md);
  }
</style>
