---
import site from '../data/site.json'
import { permalinkToCanonical, SEO } from '../utils/seo.ts'

interface Props {
  seo: SEO
}

const { seo } = Astro.props as Props
const { title, description, image, canonical } = seo
const {
  author,
  twitter_card,
  twitter_handle,
  title: siteTitle,
} = site as CMS.SiteSettings

const imageAbsolute = permalinkToCanonical(image)
const blogRssFeed = permalinkToCanonical('/feed/blog.xml')
---

<!-- Common -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title} • Navillus</title>
<meta name="description" content={description} />
<meta
  name="keywords"
  content="web development, consulting, jamstack, serverless, static site, netlify, svelte, software, engineering, software engineering, api development"
/>
<meta name="robots" content="index,follow" />
<meta name="author" content={author} />
<link rel="canonical" href={canonical} />
<link
  rel="alternate"
  type="application/rss+xml"
  title="Blog | Navillus"
  href={blogRssFeed}
/>

<!-- Styles -->
<link rel="stylesheet" href="/src/assets/main.scss" />

<!-- Favicons -->
<link rel="icon" href="/favicon.svg" />
<link rel="”mask-icon”" href="/favicon-mask.svg" color="#37322E" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta name="theme-color" content="#ffc331" />
<link rel="manifest" href="/manifest.json" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content={siteTitle} />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"
/>
<meta name="apple-mobile-web-app-title" content={siteTitle} />

<!-- Open Graph -->
<meta property="og:title" content={title} />
<meta property="og:site_name" content={title} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageAbsolute} />
<meta property="og:url" content={canonical} />

<!-- Twitter -->
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageAbsolute} />
<meta name="twitter:url" content={canonical} />
<meta name="twitter:card" content={twitter_card} />
<meta name="twitter:site" content={twitter_handle} />
<meta name="twitter:creator" content={twitter_handle} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml" />

<!-- WebMentions -->
<link rel="webmention" href="https://webmention.io/navillus.dev/webmention" />
<link rel="pingback" href="https://webmention.io/navillus.dev/xmlrpc" />
