---
import site from '../data/site.json';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.svelte';
import SEO from '../components/SEO.astro';

export let title = site.title;
export let description = site.description;
export let image = site.social.image;
export let pathname: string | undefined;
export let canonicalURL: string;
---

<SEO title={title} description={description} image={image} canonicalURL={canonicalURL} />

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>

		<link rel="icon" href="/favicon.svg" />
		<link rel="”mask-icon”" href="/favicon-mask.svg" color="#37322E" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="theme-color" content="#ffc331" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="Navillus" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="Navillus" />

		<link rel="stylesheet" href="/styles/global.css" />

		<meta property="og:title" content={title} />
		<meta property="twitter:title" content={title} />
		<meta property="og:site_name" content={title} />

		<meta name="description" content={description} />
		<meta property="og:description" content={description} />
		<meta name="twitter:description" content={description} />

		<meta property="og:image" content={image} />
		<meta name="twitter:image" content={image} />

		<link rel="canonical" href={canonicalURL} />

		<meta
			name="keywords"
			content="web development, consulting, jamstack, serverless, static site, netlify, svelte, software, engineering, software engineering, api development"
		/>

		<meta name="robots" content="index,follow" />
		<meta name="author" content={site.author} />

		<link rel="canonical" href={canonicalURL} />
		<meta property="og:url" content={canonicalURL} />
		<meta name="twitter:url" content={canonicalURL} />

		<meta property="og:type" content="website" />

		<meta name="twitter:card" content={site.social.twitter_card} />
		<meta name="twitter:site" content={site.social.twitter} />
		<meta name="twitter:creator" content={site.social.twitter} />
	</head>

	<body>
		<Nav:idle pathname={pathname} />

        <main>
			<slot />
        </main>

		<Footer />
	</body>
</html>

<style lang="scss">
	body {
		color: var(--color-text);
		font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol', 'Noto Color Emoji';
		font-size: var(--text-base);
		line-height: 1.75;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1 0 0;
		margin-top: 0;
	}
</style>