---
import Layout from './base.astro';
import Section from '../components/Section.astro';
import WebMentions from '../components/WebMentions.astro';
import { readMinutes } from '../utils/readMinutes';
import { formatDate } from '../utils/formatDate';
import { blogPostSchema } from '../utils/jsonLD';
import { getAllMentions, isForUrl } from '../utils/mentions';

const { content } = Astro.props;

const allAuthors = Astro.fetchContent('../data/authors/*.md');
const author = allAuthors.find((author) => author.slug === content.author);

const authorName = author ? `${author.first_name} ${author.last_name}` : content.author;

const minutes = readMinutes(content);

const allMentions = await getAllMentions();
const webmentions = allMentions.children.filter(isForUrl(Astro.request.canonicalURL.href));

const tweetId = content.tweetId;
const shareLink = `https://twitter.com/intent/tweet/?text=${encodeURI(`${content.title} | ${content.description} by @navillus_dev`)}&amp;url=${encodeURI(Astro.request.canonicalURL.href)}`;
const findLink = `https://twitter.com/search?f=tweets&src=typd&q=${encodeURI(Astro.request.canonicalURL.href)}`;
---

<Layout title={content.title} description={content.description} image={content.image} pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL.href}>
    <head>
        {blogPostSchema(content)}
    </head>
    
    <Section alt class="h-entry">
        <header>
            <h1 class="p-name">{content.title}</h1>

            <p class="p-summary h5 lead">{content.description}</p>

            <small>
                <time class="dt-published" datetime={content.published_date}>{formatDate(content.published_date)}</time>
                by
                <b class="h-card p-author">
                    <a class="u-url" href={author.url}>{authorName}</a>
                </b>
                • {minutes} min read
            </small>

            {content.modified_date &&
                <small>
                    <time class="dt-updated" datetime={content.modified_date}>
                        <i>Updated: {formatDate(content.modified_date)}</i>
                    </time>
                </small>
            }
        </header>

        <article class="e-content">
            <slot />
        </article>

        <footer id="webmentions">
            <WebMentions webmentions={webmentions} url={Astro.request.canonicalURL.href}>
                <div class="share">
                    <svg aria-hidden="true" fill="#55acee" width="24" height="24">
                        <use xlink:href="/assets/sprites.svg#twitter" />
                    </svg>

                    {tweetId ? (<small>
                        <a href={`https://twitter.com/intent/tweet?in_reply_to=${tweetId }`}>Join the conversation</a> on
                        Twitter. Or, if you liked this article and think others should read it, please
                        <a href={`https://twitter.com/intent/retweet?tweet_id=${tweetId }`}>retweet it</a>.
                    </small>) : (<small>
                        If you liked this article and think others should read it, please
                        <a href={shareLink}>share it</a>.
                        Or,
                        <a href={findLink}>find the conversation</a>
                        on Twitter.
                    </small>)}
                </div>
            </WebMentions>
        </footer>
    </Section>
</Layout>

<style lang="scss">
    header {
        margin-bottom: var(--spacer-lg);

        & small {
            display: block;
            margin-top: var(--spacer-tiny);
        }

        & h1 {
            margin: 0 0 0.5em;
            font-size: var(--chisel-h3);

            @media (min-width: 640px) {
                & {
                    font-size: var(--chisel-h2);
                }
            }
        }

        & .lead {
            color: var(--chisel-neutral-700);
        }
    }

    article {
        & h1, h2, h3, h4 {
            margin: 1.5em 0 0.5em;
        }

        & :global(pre + p) {
			margin-top: var(--spacer-sm);
		}

        & .twitter-tweet + p {
            margin-top: 1em;
        }
    }

    footer {
        margin-top: var(--spacer-xl);

        & :global(.share) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: var(--spacer-sm);

            & * + * {
                margin-top: 0;
            }
        }
    }
</style>