---
import Layout from './Base.astro'
import TwitterShare from '../components/TwitterShare.astro'
import WebMentions from '../components/WebMentions.astro'
import UIBlock from '../components/blocks/UIBlock.astro'
import { WithContent } from '../utils/cms.ts'
import { formatDate } from '../utils/dates.ts'
import { readMinutesForPage } from '../utils/markdown.ts'
import { getAllMentions, isForUrl, sortMentions } from '../utils/mentions'
import { getSeo } from '../utils/seo.ts'

const { content, ...page } = Astro.props as WithContent<CMS.BlogPostPage>
const { date, last_modified_at, tweetId } = page

const seo = getSeo(page)

const minutes = readMinutesForPage({ content })

const allMentions = await getAllMentions()
const webMentions = allMentions.children
  .filter(isForUrl(Astro.request.canonicalURL.href))
  .sort(sortMentions(true))

const authorsMap = import.meta.globEager('../data/authors/*.json')
const author = authorsMap[page.author.replace('src', '..')]
const authorName = author
  ? `${author.first_name} ${author.last_name}`
  : page.author
---

<Layout {...page}>
  <UIBlock alt class="h-entry">
    <header>
      <h1 class="p-name">{seo.title}</h1>

      <p class="p-summary h5 lead">{seo.description}</p>

      <small>
        <time class="dt-published" datetime={date}>
          {formatDate(date)}
        </time>
        by
        <b class="h-card p-author">
          <a class="u-url" href={author.url}>{authorName}</a>
        </b>
        • {minutes} min read
      </small>

      {last_modified_at && (
        <small>
          <time class="dt-updated" datetime={last_modified_at}>
            <i>Updated: {formatDate(last_modified_at)}</i>
          </time>
        </small>
      )}
    </header>

    <article class="e-content">
      {content.html}
    </article>

    <footer id="webmentions">
      <WebMentions {webMentions} url={Astro.request.canonicalURL.href}>
        <TwitterShare
          description={seo.description}
          title={seo.title}
          {tweetId}
          url={Astro.request.canonicalURL.href}
        />
      </WebMentions>
    </footer>
  </UIBlock>
</Layout>

<style lang="scss">
  header {
    margin-bottom: var(--spacer-lg);

    & small {
      display: block;
      margin-top: var(--spacer-tiny);
    }

    & h1 {
      margin: 0 0 0.5em;
      font-size: var(--chisel-h3);

      @media (min-width: 640px) {
        & {
          font-size: var(--chisel-h2);
        }
      }
    }

    & .lead {
      color: var(--chisel-neutral-700);
    }
  }

  article {
    & h1,
    h2,
    h3,
    h4 {
      margin: 1.5em 0 0.5em;
    }

    & :global(pre + p) {
      margin-top: var(--spacer-sm);
    }

    & .twitter-tweet + p {
      margin-top: 1em;
    }
  }

  footer {
    margin-top: var(--spacer-xl);
  }
</style>
