---
import Layout from './base.astro';
import Section from '../components/Section.astro';
import WebMentions from '../components/WebMentions.astro';
import { readMinutes } from '../utils/readMinutes';
import { formatDate } from '../utils/formatDate';
import { blogPostSchema } from '../utils/jsonLD';
import { getAllMentions, isForUrl } from '../utils/mentions';

const { content } = Astro.props;

const allAuthors = Astro.fetchContent('../data/authors/*.md');
const author = allAuthors.find((author) => author.slug === content.author);

const authorName = author ? `${author.first_name} ${author.last_name}` : content.author;

const minutes = readMinutes(content);

const allMentions = await getAllMentions();
const webmentions = allMentions.children.filter(isForUrl(Astro.request.canonicalURL.href));
---

<Layout title={content.title} description={content.description} image={content.image} pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL.href}>
    <head>
        {blogPostSchema(content)}
    </head>
    
    <Section alt>
        <header>
            <h1>{content.title}</h1>

            <small>
                By
                <b><a href={author.url}>{authorName}</a></b>
                •
                <time datetime={content.published_date}>{formatDate(content.published_date)}</time>
                • {minutes} min read
            </small>

            {content.modified_date &&
                <small>
                    <time datetime={content.modified_date}>
                        <i>Updated: {formatDate(content.modified_date)}</i>
                    </time>
                </small>
            }
        </header>

        <article>
            <slot />
        </article>

        <footer id="webmentions">
            <WebMentions webmentions={webmentions} url={Astro.request.canonicalURL.href} />
        </footer>
    </Section>
</Layout>

<style lang="scss">
    header {
        margin-bottom: var(--spacer-lg);

        & small {
            display: block;
            margin-top: var(--spacer-tiny);
        }

        & h1 {
            margin: 0 0 0.5em;
            font-size: var(--chisel-h3);

            @media (min-width: 640px) {
                & {
                    font-size: var(--chisel-h2);
                }
            }
        }
    }

    article {
        & h1, h2, h3, h4 {
            margin: 1.5em 0 0.5em;
        }

        & :global(pre + p) {
			margin-top: var(--spacer-sm);
		}

        & .twitter-tweet + p {
            margin-top: 1em;
        }
    }

    footer {
        margin-top: var(--spacer-xl);
    }
</style>